

/*Responsive*/

/*Pantalla pequena*/

@media screen and (max-width:768px){

    /*Header*/
   
    header .nav1{
        display: none;
    }

    header button {
        background-color: black;
    }

    /*Footer*/

    footer .footer .redes{
        padding: 1rem 0 0 0;
    }

    footer .footer .contacto{
        padding: 0 0 1rem 0;
    }

    footer .footer {
        display: flex;
        flex-direction: column;
    }

    /*General*/

    body .logoWp img{
        width: 3rem;
        height: 3rem;
    }

    .tituloPantallaPequena{
        font-size: 2rem;
    }

    /*Inicio*/

    main .collage{
        display: none;
    }


    /*Inicio y Agencias*/

    .cita{
        font-size: 2rem;
    }

    /*Nosotros y Agencias*/
    .container{
        padding-top: 1rem;
    }

    /*Destinos*/

    .lugaresContainer figure img{
        width: 20rem;
        height: 20rem;
    }

    /*Contacto*/

    .tituloFormulario{
        font-size: 1.5rem;
    }

    /*Lugares varios*/

    .introLugares{
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }

    iframe{
        max-width: 40rem;
        width: 100%;
        height: auto;
        padding: 1rem 0 0 0;
    }

    .cadaLugarImg{
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        justify-content: center;
        justify-items: center;
        padding: 2rem;
    }

    .cadaLugarImg img{
        max-width: 40rem;
        width: 100%;
        height: auto;
        padding: 0;
    }
    
    .tituloSecundarioLugares{
        font-family: "Grey Qo", cursive;
        font-size: 2rem;
        text-align: center;
    }
    
    .containerLugares{
        display: flex;
        flex-direction: column;
        padding: 0;
        border: none;
        box-shadow: none;
        margin: 0 auto;
    }
    
    .tituloPrincipalLugares{
        padding: 1rem;
        text-align: center;
    }

    .textoLugares{
        margin: 0 auto;
        padding: 2rem;
        padding-top: 0;
    }

}

/*Pantalla mediana*/

@media screen and (min-width:769px) and (max-width:1024px) {
    
    /*Header*/

    header .nav2 {
        display: none;
    }

    /*Inicio*/

    main .collage2{
        display: none;
    }

    /*Lugares varios*/

    .introLugares{
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }

}

/*Pantalla grande*/

@media screen and (min-width:1025px) {
   
    /*Header*/

    header .nav2 {
      display: none;
    }

    /*Inicio*/

    main .collage2{
        display: none;
    }

}