* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
}

.cita, main div.container div.row section h3.cita, body main section.sectionPrincipal h2.cita {
  padding: 1rem;
  text-shadow: 0 0 0.5rem cadetblue;
  font-family: "Grey Qo", cursive;
  font-size: 3rem;
  font-weight: 400;
  text-align: center;
}

.caveat-h1 {
  font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.shantell-sans {
  font-family: "Shantell Sans", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "BNCE" 0, "INFM" 0, "SPAC" 0;
}

.grey-qo-regular {
  font-family: "Grey Qo", cursive;
  font-weight: 400;
  font-style: normal;
}

h1 {
  font-size: 3rem;
  color: rgb(53, 90, 91);
  font-family: "Caveat", cursive;
  text-transform: uppercase;
}

h2 {
  font-size: 1.5rem;
  font-weight: 400;
  font-family: "Shantell Sans", cursive;
  font-weight: bold;
}

h3 {
  font-family: "Shantell Sans", cursive;
  font-weight: 300;
  font-weight: bold;
}

p {
  font-size: 1.2rem;
  font-weight: 200;
  text-align: justify;
  font-family: "Shantell Sans", cursive;
}

a {
  font-family: "Shantell Sans", cursive;
}
a:hover {
  color: cadetblue;
  text-decoration: solid;
}

img.logo {
  width: 13rem;
  height: 13rem;
}

body section a.logoWp {
  position: fixed;
  right: 3%;
  bottom: 5%;
}
body section a.logoWp img {
  width: 4rem;
  height: 4rem;
}

header {
  background-image: url(../img/fondo1.jpg);
  height: auto;
  background-size: 100%;
  background-repeat: no-repeat;
}
header div.nav1 nav ul.navegador {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
header div.nav1 nav ul.navegador li {
  padding: 0 1.5rem 0.5rem 1.5rem;
}
header div.nav1 nav ul.navegador li a {
  color: aliceblue;
  font-size: x-large;
  font-weight: 500;
}
header div.nav1 nav ul.navegador li a:hover {
  color: aliceblue;
  background-color: cadetblue;
}
header div.nav2 {
  display: flex;
  justify-content: space-between;
  align-items: end;
  background-image: url(../img/fondo1.jpg);
  background-size: 100vh;
  background-repeat: no-repeat;
}
header div.nav2 nav.dropdown button.btn {
  color: white;
}

body main section.sectionPrincipal {
  display: flex;
  flex-direction: column;
  margin: 1.5rem;
  justify-content: center;
  align-items: center;
}
body main section.sectionPrincipal h1.tituloPrincipal {
  padding: 1rem;
  text-align: center;
}
body main section.collage {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, auto);
  grid-template-areas: "img1 img3 img4 img4 img7" "img2 img3 img5 img6 img7";
  width: 100%;
  max-width: 100%;
  padding: 2.5rem 4rem 4rem 4rem;
  gap: 0.5rem;
}
body main section.collage img.fotocollage {
  width: 100%;
  height: 20rem;
  max-width: 17rem;
  object-fit: cover;
}
body main section.collage img.img1 {
  grid-area: img1;
}
body main section.collage img.img2 {
  grid-area: img2;
}
body main section.collage img.img3 {
  grid-area: img3;
  height: 100%;
}
body main section.collage img.img4 {
  grid-area: img4;
  width: 100%;
  max-width: 37rem;
}
body main section.collage img.img5 {
  grid-area: img5;
}
body main section.collage img.img6 {
  grid-area: img6;
}
body main section.collage img.img7 {
  grid-area: img7;
  height: 100%;
}
body main section.collage2 div.carousel div.carousel-inner div.carousel-item img {
  max-width: 50rem;
  max-height: 26rem;
  width: 100%;
  height: 26rem;
  padding: 0 0 2rem 0;
}

main h1.tituloPrincipalNosotros {
  padding: 1rem;
  margin: 0 auto;
  text-align: center;
}
main section.container {
  padding: 3rem;
  margin: 0 auto;
}
main section.container div.row div.col-sm-12 h2.tituloSecundario {
  padding: 0 1.5rem 1.5rem 0;
  text-align: center;
}
main section.container div.row div.col-sm-12 img.fotoNosotros {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
main section.container div.row div.col-sm-12 h2.tituloSecundarioDos {
  padding: 1.5rem 1.5rem 1.5rem 0;
  text-align: center;
}

main section.lugaresContainer {
  display: flex;
  flex-flow: row wrap;
  align-content: space-around;
  justify-content: space-around;
  padding: 1rem;
}
main section.lugaresContainer figure {
  margin: 0 auto;
  padding: 1rem;
}
main section.lugaresContainer figure a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main section.lugaresContainer figure a:hover {
  transform: scale(1.1);
}
main section.lugaresContainer figure a img.fotolugares {
  border-radius: 5%;
  width: 25rem;
  height: 25rem;
}

main div.container div.row section ul.listadoAgencias li {
  padding: 1rem 0 0 0;
  list-style-type: circle;
}
main div.container div.row section figure img.fotoNosotros {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
main div.mainFormulario {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 0 auto;
  padding: 2rem;
}
main div.mainFormulario h1.tituloPrincipalContacto {
  padding: 0 2rem 3rem 2rem;
  text-align: center;
}
main div.mainFormulario div.formContainer {
  padding: 2rem;
  border-radius: 2rem;
  box-shadow: 0 4px 8px rgb(53, 90, 91);
  max-width: max-content;
  width: 100%;
  background-image: linear-gradient(rgb(176, 197, 197), rgb(223, 245, 246));
}
main div.mainFormulario div.formContainer form.formulario {
  display: flex;
  flex-direction: column;
}
main div.mainFormulario div.formContainer form.formulario h2.tituloFormulario {
  font-size: 2rem;
  text-align: center;
  padding: 0 1rem 1rem 1rem;
  text-align: center;
}
main div.mainFormulario div.formContainer form.formulario div.itemFormulario {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  justify-content: center;
}
main div.mainFormulario div.formContainer form.formulario div.itemFormulario input {
  background-color: transparent;
}
main div.mainFormulario div.formContainer form.formulario div.itemFormulario input:focus {
  transform: scale(1.1);
  background-color: aliceblue;
}
main div.mainFormulario div.formContainer form.formulario div.itemFormulario textarea {
  background-color: transparent;
}
main div.mainFormulario div.formContainer form.formulario div.itemFormulario textarea:focus {
  transform: scale(1.1);
  background-color: aliceblue;
}
main div.mainFormulario div.formContainer form.formulario div.checkbox {
  display: flex;
  justify-content: center;
  padding: 1rem;
}
main div.mainFormulario div.formContainer form.formulario div.checkbox:focus {
  transform: scale(1.1);
  background-color: aliceblue;
}
main div.mainFormulario div.formContainer form.formulario div.botonEnviar {
  display: flex;
  justify-content: center;
}
main div.mainFormulario div.formContainer form.formulario div.botonEnviar input.boton {
  cursor: pointer;
  background-color: rgb(53, 90, 91);
  color: white;
  padding: 1rem;
  border-radius: 0.5rem;
}
main div.mainFormulario div.formContainer form.formulario div.botonEnviar input.boton:hover {
  transform: scale(1.2);
}
main div.mainFormulario div.formContainer form.formulario div.botonEnviar input.boton:focus {
  transform: scale(1.2);
}

main section.introLugares {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem;
}
main section.introLugares img.fotoprincipal {
  /*Foto principal de cada provincia*/
  max-width: 40rem;
  width: 100%;
  height: auto;
  padding: 2rem;
}
main section.introLugares p.textoIntro {
  object-fit: fill;
  text-align: justify;
  flex: 1;
  padding: 2rem;
}
main section h2.tituloPrincipalLugares {
  padding: 2rem 2rem 1rem 2rem;
  text-align: center;
}
main section ol.listadoLugaresProvincias {
  padding: 0;
}
main section ol.listadoLugaresProvincias li.containerLugares {
  display: flex;
  flex-direction: column;
  margin: 2rem;
  padding: 2rem 4rem;
  border: 1px solid rgb(53, 90, 91);
  box-shadow: 0 4px 8px rgb(53, 90, 91);
}
main section ol.listadoLugaresProvincias li.containerLugares h3.tituloSecundarioLugares {
  font-family: "Grey Qo", cursive;
  font-size: 3rem;
}
main section ol.listadoLugaresProvincias li.containerLugares div.cadaLugarImg {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  justify-content: center;
  justify-items: center;
}
main section ol.listadoLugaresProvincias li.containerLugares div.cadaLugarImg img.foto {
  /*Foto de las pag de cada provincia*/
  max-width: 40rem;
  width: 100%;
  height: 24rem;
  padding: 1rem;
}
main section ol.listadoLugaresProvincias li.containerLugares div.cadaLugarImg iframe {
  width: 40rem;
  height: 24rem;
  padding: 1rem;
}
main section ol.listadoLugaresProvincias li.containerLugares p.textoLugares {
  margin: 0 auto;
  padding: 2rem;
  padding-top: 0;
}

main div.fotoConstruccion {
  text-align: center;
}

footer div.footer {
  background-color: rgb(53, 90, 91);
  display: flex;
  justify-content: space-around;
  align-items: center;
}
footer div.footer section.redes {
  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
footer div.footer section.redes div.redesContactoImg {
  display: flex;
  justify-content: center;
  padding: 0.5rem;
}
footer div.footer section.redes div.redesContactoImg a img {
  width: 2rem;
  height: 2rem;
  color: black;
  font-size: large;
  margin: 0.5rem;
}
footer div.footer section.sectionLogo img.logo {
  width: 13rem;
  height: 13rem;
}
footer div.footer section.contacto {
  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
footer div.footer section.contacto div.redesContactoImg {
  display: flex;
  justify-content: center;
  padding: 0.5rem;
}
footer div.footer section.contacto div.redesContactoImg a img {
  width: 2rem;
  height: 2rem;
  color: black;
  font-size: large;
  margin: 0.5rem;
}
footer div.footer section.contacto div.redesContactoImg a img.mail {
  width: 1.8rem;
  height: 1.7rem;
}

@media screen and (max-width: 768px) {
  body header div.nav1 {
    display: none;
  }
  body header div.nav2 nav.dropdown button.btn {
    background-color: black;
  }
  body main h1.tituloPantallaPequena {
    font-size: 2rem;
  }
  body main section.sectionPrincipal h2.cita {
    font-size: 2rem;
  }
  body main section.collage {
    display: none;
  }
  body main div.container {
    padding-top: 1rem;
  }
  body main section h3.cita, body main div.container div.row section h3.cita {
    font-size: 2rem;
  }
  body main section.lugaresContainer figure a img {
    width: 20rem;
    height: 20rem;
  }
  body main div.mainFormulario form.formulario h2.tituloFormulario {
    font-size: 1.5rem;
  }
  body main section.introLugares {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }
  body main section h2.tituloPrincipalLugares {
    padding: 1rem;
    text-align: center;
  }
  body main section ol.listadoLugaresProvincias li.containerLugares {
    display: flex;
    flex-direction: column;
    padding: 0;
    border: none;
    box-shadow: none;
    margin: 0 auto;
  }
  body main section ol.listadoLugaresProvincias li.containerLugares h3.tituloSecundarioLugares {
    font-family: "Grey Qo", cursive;
    font-size: 2rem;
    text-align: center;
  }
  body main section ol.listadoLugaresProvincias li.containerLugares div.cadaLugarImg {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    justify-content: center;
    justify-items: center;
    padding: 2rem;
  }
  body main section ol.listadoLugaresProvincias li.containerLugares div.cadaLugarImg img.foto {
    max-width: 40rem;
    width: 100%;
    height: auto;
    padding: 0;
  }
  body main section ol.listadoLugaresProvincias li.containerLugares div.cadaLugarImg iframe {
    max-width: 40rem;
    width: 100%;
    height: auto;
    padding: 1rem 0 0 0;
  }
  body main section ol.listadoLugaresProvincias li.containerLugares p.textoLugares {
    margin: 0 auto;
    padding: 2rem;
    padding-top: 0;
  }
  body section a.logoWp {
    width: 3rem;
    height: 3rem;
  }
  body footer div.footer {
    display: flex;
    flex-direction: column;
  }
  body footer div.footer section.redes {
    padding: 1rem 0 0 0;
  }
  body footer div.footer section.contacto {
    padding: 0 0 1rem 0;
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  body header div.nav2 {
    display: none;
  }
  body main div.collage2 {
    display: none;
  }
  body main section.introLugares {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1025px) {
  body header div.nav2 {
    display: none;
  }
  body main div.collage2 {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  body header div.nav1 {
    display: none;
  }
  body header div.nav2 nav.dropdown button.btn {
    background-color: black;
  }
  body main h1.tituloPantallaPequena {
    font-size: 2rem;
  }
  body main section.sectionPrincipal h2.cita {
    font-size: 2rem;
  }
  body main section.collage {
    display: none;
  }
  body main div.container {
    padding-top: 1rem;
  }
  body main section h3.cita, body main div.container div.row section h3.cita {
    font-size: 2rem;
  }
  body main section.lugaresContainer figure a img {
    width: 20rem;
    height: 20rem;
  }
  body main div.mainFormulario form.formulario h2.tituloFormulario {
    font-size: 1.5rem;
  }
  body main section.introLugares {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }
  body main section h2.tituloPrincipalLugares {
    padding: 1rem;
    text-align: center;
  }
  body main section ol.listadoLugaresProvincias li.containerLugares {
    display: flex;
    flex-direction: column;
    padding: 0;
    border: none;
    box-shadow: none;
    margin: 0 auto;
  }
  body main section ol.listadoLugaresProvincias li.containerLugares h3.tituloSecundarioLugares {
    font-family: "Grey Qo", cursive;
    font-size: 2rem;
    text-align: center;
  }
  body main section ol.listadoLugaresProvincias li.containerLugares div.cadaLugarImg {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    justify-content: center;
    justify-items: center;
    padding: 2rem;
  }
  body main section ol.listadoLugaresProvincias li.containerLugares div.cadaLugarImg img.foto {
    max-width: 40rem;
    width: 100%;
    height: auto;
    padding: 0;
  }
  body main section ol.listadoLugaresProvincias li.containerLugares div.cadaLugarImg iframe {
    max-width: 40rem;
    width: 100%;
    height: auto;
    padding: 1rem 0 0 0;
  }
  body main section ol.listadoLugaresProvincias li.containerLugares p.textoLugares {
    margin: 0 auto;
    padding: 2rem;
    padding-top: 0;
  }
  body section a.logoWp {
    width: 3rem;
    height: 3rem;
  }
  body footer div.footer {
    display: flex;
    flex-direction: column;
  }
  body footer div.footer section.redes {
    padding: 1rem 0 0 0;
  }
  body footer div.footer section.contacto {
    padding: 0 0 1rem 0;
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  body header div.nav2 {
    display: none;
  }
  body main div.collage2 {
    display: none;
  }
  body main section.introLugares {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1025px) {
  body header div.nav2 {
    display: none;
  }
  body main div.collage2 {
    display: none;
  }
}

/*# sourceMappingURL=styles.css.map */
