main {
    div.fotoConstruccion {
        text-align: center;

        img.fotoConst {
            max-width: 40rem;
            @include sizes(100%, auto);
            padding: 2rem;
        }
    }
}