main {

    section.lugaresContainer {
        display: flex;
        flex-flow: row wrap;
        align-content: space-around;
        justify-content: space-around;
        padding: 1rem;

        figure {
            margin: 0 auto;
            padding: 1rem;

            a {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                &:hover{
                    transform: scale(0.1);
                }

                img.fotolugares{
                    border-radius: 5%;
                    @include sizes(25rem,25rem);
                }
            }
        }
    }
}