main {

    div.container {
        div.row {
            section {
                ul.listadoAgencias {
                    li {
                        padding: 1rem 0 0 0;
                        list-style-type: circle;
                    }
                }

                figure {
                    img.fotoNosotros {
                        @include sizes(100%,100%);
                        object-fit: contain;
                    }
                }

                h3.cita {
                    @extend .cita;
                }
            }
        }
    }
}