main {
    h1.tituloPrincipalNosotros {
        padding: 1rem;
        margin: 0 auto;
        text-align: center;
    }

    section.container-fluid {
        padding: 2rem;
        margin: 0 auto;

        div.row {
            div.col-sm-12 {
                h2.tituloSecundario {
                    padding: 0 1.5rem 1.5rem 0;
                    text-align: center;
                }

                img.fotoNosotros {
                    @include sizes(100%,100%);
                    object-fit: contain;
                }

                h2.tituloSecundarioDos {
                    padding: 1.5rem 1.5rem 1.5rem 0;
                    text-align: center;
                }
            }
        }
    }
}