body {
    main {
        section.sectionPrincipal {
            display: flex;
            flex-direction: column;
            margin: 1.5rem;
            justify-content: center;
            align-items: center;

            h1.tituloPrincipal {
                padding: 1rem;
                text-align: center;
            }

            h2.cita {
                @extend .cita;
            }
        }

        section.collage {
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            grid-template-rows: repeat(2, auto);
            grid-template-areas:
                "img1 img3 img4 img4 img7"
                "img2 img3 img5 img6 img7";
            width: 100%;
            max-width: 100%;
            padding: 2.5rem 4rem 4rem 4rem;
            gap: 0.5rem;

            img.fotocollage {
                @include sizes(100%,20rem);
                max-width: 17rem;
                object-fit: cover;
            }

            img.img1 {
                grid-area: img1;
            }

            img.img2 {
                grid-area: img2;
            }

            img.img3 {
                grid-area: img3;
                height: 100%;
            }

            img.img4 {
                grid-area: img4;
                width: 100%;
                max-width: 37rem;
            }

            img.img5 {
                grid-area: img5;
            }

            img.img6 {
                grid-area: img6;
            }

            img.img7 {
                grid-area: img7;
                height: 100%;
            }
        }

        section.collage2 {
            div.carousel {
                div.carousel-inner{
                    div.carousel-item {
                        img {
                            max-width: 50rem;
                            max-height: 26rem;
                            @include sizes(50rem,26rem);
                            padding: 0 0 2rem 0;
                        }
                    }
                }
            }
        }
    }
}