main {

    section.introLugares {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 2rem;

        img.fotoprincipal {
            /*Foto principal de cada provincia*/
            max-width: 40rem;
            @include sizes(100%,auto);
            padding: 2rem;
        }

        p.textoIntro {
            object-fit: fill;
            text-align: justify;
            flex: 1;
            padding: 2rem;
        }
    }

    section {
        h2.tituloPrincipalLugares {
            padding: 2rem 2rem 1rem 2rem;
            text-align: center;
        }

        ol.listadoLugaresProvincias {
            padding: 0;

            li.containerLugares {
                display: flex;
                flex-direction: column;
                margin: 2rem;
                padding: 2rem 4rem;
                border: 1px solid $title-color;
                box-shadow: 0 4px 8px $title-color;

                h3.tituloSecundarioLugares {
                    font-family: $cursive-font;
                    font-size: 3rem;
                }

                div.cadaLugarImg {
                    display: flex;
                    flex-direction: column;
                    margin: 0 auto;
                    justify-content: center;
                    justify-items: center;

                    img.foto {
                        /*Foto de las pag de cada provincia*/
                        max-width: 40rem;
                        @include sizes(100%,24rem);
                        padding: 1rem;
                    }

                    iframe {
                        @include sizes(40rem,24rem);
                        padding: 1rem;
                    }
                }

                p.textoLugares {
                    margin: 0 auto;
                    padding: 2rem;
                    padding-top: 0;
                }
            }
        }
    }
}