.caveat-h1 {
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.shantell-sans {
    font-family: "Shantell Sans", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "BNCE" 0,
        "INFM" 0,
        "SPAC" 0;
}

.grey-qo-regular {
    font-family: "Grey Qo", cursive;
    font-weight: 400;
    font-style: normal;
}

h1 {
    font-size: 3rem;
    color: $title-color;
    font-family: $title-font;
    text-transform: uppercase;
}

h2 {
    font-size: 1.5rem;
    font-weight: 400;
    font-family: $general-font;
    font-weight: bold;
}

h3 {
    font-family: $general-font;
    font-weight: 300;
    font-weight: bold;
}

p {
    font-size: 1.2rem;
    font-weight: 200;
    text-align: justify;
    font-family: $general-font;
}

a {
    font-family: $general-font;

    &:hover {
        color: $hover-color;
        text-decoration: solid;
    }
}

img.logo {
    width: 13rem;
    height: 13rem;
}

body {
    section {
        a.logoWp {
            position: fixed;
            right: 3%;
            bottom: 5%;

            img {
                width: 4rem;
                height: 4rem;
            }
        }
    }
}