header {
    background-image: url(../Img/fondo1.jpg);
    height: auto;
    background-size: 100%;
    background-repeat: no-repeat;

    div {
        img.logo {
            width: 13rem;
            height: 13rem;

        }

        nav {
            ul.navegador {
                display: flex;
                align-items: flex-end;
                justify-content: center;

                li {
                    padding: 0 1.5rem 0.5rem 1.5rem;

                    a {
                        color: aliceblue;
                        font-size: x-large;
                        font-weight: 500;

                        &:hover {
                            color: aliceblue;
                            background-color: cadetblue;
                        }
                    }
                }
            }
        }
    }
}